<div class="container">
  <div class="row">
    <div class="col-xs-12">

<%= form_for @question do |f| %>

  <% if @question.errors && @question.errors[:user].any?%>
    <p>
      <%= @user.errors[:user].join(', ') %>
    </p>
  <% end %>

  <fieldset class="unbordered">
    <%= f.label :title %>
    <%= f.text_field :title, :class => "form-control" %>

    <% if @question.errors && @question.errors[:title].any?%>
      <span>
        <%= @question.errors[:title].join(', ') %>
      </span>
    <% end %>
  </fieldset>
  <fieldset class="unbordered">
    <%= f.label :text %>
    <%= f.text_area :text, :class => "form-control", :rows => "6" %>

    <% if @question.errors && @question.errors[:text].any?%>
      <span>
        <%= @question.errors[:text].join(', ') %>
      </span>
    <% end %>
  </fieldset>
  <%= f.submit "Ask Your Question", :class => ["btn", "btn-primary", "btn-lg"]  %>
<% end %>
</div>
</div>
</div>
