<h2 class="question--title"> <%= @question.title %> </h2>

<%= render :partial => '/questions/q_toolbar' %>

<article class="question--text">
  <%= markdown @question.text %>
</article>

<div class="question--dates">
  <% if @question.edited_at.present? %>
    <p>
      edited_at: <%= @question.edited_at.strftime '%l:%M%P, %A %e %B, %Y' %>
    </p>
  <% end %>
  <p>
    created_at: <%= @question.created_at.strftime '%l:%M%P, %A %e %B, %Y' %>
  </p>
</div>

 <!-- maybe shouldn't be in here, but whatever -->
<% @answers = @question.answers %>

<% if @answers.size > 0 %>
  <h3><%= pluralize(@answers.size, 'Answer')%></h3>
<% else %>
  <h3>No Answers Yet</h3>
<% end %>
<%= render :partial => '/questions/answers/index' %>
