<div class="middle-form">
  <h1 class="text-center form-heading">Login</h1>

<%= form_tag login_path do %>
  <fieldset>
    <%= label_tag :identifier, 'either your username or email' %>
    <%= text_field_tag :identifier, :html => {:class => "form-control"} %>
  </fieldset>
  <fieldset>
    <%= label_tag :password %>
    <%= password_field_tag :password, :html => {:class => "form-control"} %>
  </fieldset>

  <%= submit_tag 'login', :html => {:class => "btn btn-primary btn-lg"}  %>
</div>
</div>
<% end %>
