<div class="middle-form">
  <h1 class="text-center form-heading">Login</h1>

<%= form_tag login_path do %>
  <fieldset>
    <%= label_tag :identifier, 'Username or Email' %>
    <%= text_field_tag :identifier, '', :class => "form-control" %>
  </fieldset>
  <fieldset>
    <%= label_tag :password %>
    <%= password_field_tag :password, '', :class => "form-control" %>
  </fieldset>
  <div class="btn-wrapper">
    <%= submit_tag 'login', :class => "btn btn-primary btn-lg"  %>
  </div>
</div>
</div>
<% end %>
