
<div class="middle-form">
  <h1 class="text-center form-heading">Sign up!</h1>

  <%= form_for @user do |f| %>
    <fieldset>
      <%= f.label :name, 'Username' %>
      <%= f.text_field :name, :required => true, :class => "form-control" %>
      <% if @user.errors.any? && @user.errors[:name].any?%>
        <span>
          <%= @user.errors[:name].join(', ') %>
        </span>
      <% end %>

    </fieldset>
    <fieldset>
      <%= f.label :email %>
      <%= f.email_field :email, :required => true, :class => "form-control" %>
      <% if @user.errors.any? && @user.errors[:email].any?%>
        <span>
          <%= @user.errors[:email].join(', ') %>
        </span>
      <% end %>

    </fieldset>
    <fieldset>
      <%= f.label :password %>
      <%= f.password_field :password, :required => true, :class => "form-control"  %>
      <% if @user.errors.any? && @user.errors[:password].any?%>
        <span>
          <%= @user.errors[:password].join(', ') %>
        </span>
      <% end %>

    </fieldset>
    <fieldset>
      <%= f.label :password_confirmation%>
      <%= f.password_field :password_confirmation, :required => true, :class => "form-control"  %>
      <% if @user.errors.any? && @user.errors[:password_confirmation].any?%>
        <span>
          <%= @user.errors[:password_confirmation].join(', ') %>
        </span>
      <% end %>

    </fieldset>
    <div class="btn-wrapper">
      <%= f.submit 'Join us', :class => "btn btn-primary btn-lg"  %>
    </div>
  </div>

<% end %>
