<%= form_for [@question, @answer] do |f| %>

  <% if @answer.errors && @answer.errors[:user].any?%>
    <p>
      <%= @answer.errors[:user].join(', ') %>
    </p>
  <% end %>

  <fieldset class="unbordered">
    <%= f.label :text, 'Your Answer' %>
    <%= f.text_area :text, :class => "form-control", :rows => "6" %>

    <% if @answer.errors && @answer.errors[:text].any?%>
      <span>
        <%= @answer.errors[:text].join(', ') %>
      </span>
    <% end %>

  </fieldset>

  <%= f.submit 'Post Your Answer', :class => ["btn", "btn-primary", "btn-lg"]  %>

<% end %>
