
<% @answers.each do |answer| %>
  <div class="answer--show row clearfix">
    <div class="col-xs-2"></div>
    <div class="col-xs-10">
      <% if answer.id == @answer.id %>
        <%= render :partial => '/questions/answers/form' %>
      <% else %>
        <%= render :partial => '/questions/answers/a_toolbar', :locals => {:answer => answer} %>

        <article class="answer--text">
          <%= markdown answer.text %>
        </article>

        <%= render :partial => '/layouts/verbed_by', :locals => {:verbed => "answered", :timeable => answer} %>


      <% end %>
    </div>
  </div>

  <hr>

<% end %>


<% if @current_user && @answer.id.nil? %>
  <%= render :partial => '/questions/answers/form' %>
<% end %>
