

<% @answers.zip(@a_votes).to_a.sort {|a, b| b[0].score <=> a[0].score }.each_with_index do |answer_vote| %>
<% answer = answer_vote[0] %>
<% a_vote = answer_vote[1] %>
  <div class="answer--show row clearfix">
    <%= render :partial => 'questions/answers/a_score', :locals => {:a_vote => a_vote, :answer => answer} %>
    <div class="col-xs-10">
      <% if answer.id == @answer.id %>
        <%= render :partial => '/questions/answers/form' %>
      <% else %>
        <article class="answer--text clearfix">
          <div class="pull-right">
            <%= render :partial => '/questions/answers/a_toolbar', :locals => {:answer => answer} %>
          </div>
          <%= markdown answer.text %>
        </article>

        <%= render :partial => '/layouts/verbed_by',
                   :locals => {:verbed => "answered", :timeable => answer, :unlinked => false} %>


      <% end %>
    </div>
  </div>

  <hr>

<% end %>


<% if @current_user && @answer.id.nil? %>
  <%= render :partial => '/questions/answers/form' %>
<% end %>
