
<% @answers.each do |answer| %>
  <div class="answer">
    <% if answer.id == @answer.id %>
      <%= render :partial => '/questions/answers/form' %>
    <% else %>

      <% @this_answer = answer %>

      <%= render :partial => '/questions/answers/a_toolbar' %>

      <article class="answer--text">
        <%= markdown answer.text %>
      </article>

      <div class="answer--dates">
        <% if answer.edited_at.present? %>
          <p>
            edited_at: <%= answer.edited_at.strftime '%H:%M, %a %e %b `%y' %>
          </p>
        <% end %>
        <p>
          created_at: <%= answer.created_at.strftime '%H:%M, %a %e %b `%y' %>
        </p>
      </div>
    <% end %>
  </div>
<% end %>

<% if @current_user && @answer.id.nil? %>
  <%= render :partial => '/questions/answers/form' %>
<% end %>
