<!DOCTYPE html>
<html>
<head>
  <title>Interroboard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
  <div class="container-fluid">
    <header>

      <div class="site-title">
         ¿@₴𝝹†ər¡☓‽
      </div>

      <nav class="clearfix">
        <ul class="nav-left">
          <li>
            <%= link_to 'Home', root_path %>
          </li>
          <% if @current_user.present? %>
            <li>
              <%= link_to 'New Question?', new_question_path %>
            </li>
          <% end %>
        </ul>

        <ul class="nav-right">
          <% if @current_user %>
            <li>
              <%= link_to "Profile", @current_user %>
            </li>
            <li>
              <%= link_to "logout #{ @current_user.email }", login_path, :method => :delete%>
            </li>
          <% else  %>
            <li>
              <%= link_to "Sign up", signup_path %>
            </li>
            <li>
              <%= link_to "Log in", login_path %>
            </li>
          <% end %>
        </ul>
      </nav>
    </header>

    <% if flash[:error].present? %>
    <h2 class="error">
      <%= flash[:error] %>
    </h2>
    <% end %>

    <%= yield %>

  </div>
</body>
</html>
